// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Style
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  margin-right: 50px;
}

header {
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: lightgreen;

  h1 {
    text-transform: uppercase;
    font-size: 22pt;
    padding: 20px 0;
  }
}

footer {
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: lightgreen;

  h2 {
    text-transform: uppercase;
    font-size: 18pt;
    padding: 20px 0;
  }
}

div.nav {
  height: 100px;
  background-color: orange;
  padding: 30px;
  display: flex;
  justify-content: space-between;

  a {
    font-size: 20pt;
    text-decoration: none;
    padding: 0 10px;
    color: black;
    font-weight: bold;
  }
}

div.container {
  height: 100%;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

div.box {
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  border: 2px solid orange;

  p {
    font-size: 16pt;
    padding-bottom: 10px;
  }

  a {
    margin-right: 30px;
  }
}

div.create {
  height: 80px;
  padding: 50px 30px;
  background-color: orange;

  a {
    font-size: 20pt;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid lightgreen;
    padding: 10px;
    border-radius: 10px;
  }
}

div.edit {
  padding: 50px;

  div.form-group {
    padding: 20px 0;
  }

  div.form-group label {
    display: block;
    padding-right: 20px;
    font-size: 18pt;
    font-weight: bold;
    padding-bottom: 5px;
  }

  div.form-group input {
    width: 250px;
    height: 30px;
  }

  button {
    width: 100px;
    height: 30px;
    background-color: orange;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
}
